<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="social-media">
                    <h5>Vind ons op</h5>
                    <ul>
                        <li>
                            <a title="Bekijk ons op Facebook" href="https://www.facebook.com/scoutingnederland"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li>
                            <a title="Bekijk ons op Twitter" href="https://www.twitter.com/Scouting_NL"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li>
                            <a title="Bekijk ons op YouTube" href="https://www.youtube.com/scouttvnl"><i class="fab fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
                <p id="copyright">Scouting Bosgeest, 2024 &copy;</p>
            </div>
            <div class="col-12 col-lg-6">
                <p class="widget">
                    Scouting Bosgeest <br/>
                    Van der Weijdenlaan 2B <br/>
                    2211 JK Noordwijkerhout <br/>
                    <a href="mailto:info@bosgeest.nl">info@bosgeest.nl</a><br/>
                </p>
            </div>
        </div>

    </div>

    <script type="text/javascript" src="assets/libs/contact-form-7/includes/swv/js/index.js" id="swv-js"></script>

    <script type="text/javascript" src="assets/libs/contact-form-7/includes/js/index.js" id="contact-form-7-js"></script>
    <script type="text/javascript" src="assets/themes/scouting-2020/assets/scripts/js/jquery.cookie.js" id="cookie-js-js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" id="popper-js-js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" id="bootstrap-js-js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js" id="imagesloaded-js-js"></script>
    <script type="text/javascript" src="assets/themes/scouting-2020/assets/scripts/js/lazysizes.min.js" id="lazysizes-js-js"></script>
    <script type="text/javascript" src="assets/themes/scouting-2020/assets/scripts/js/ls.unveilhooks.min.js" id="lazysizes-unveil-js-js"></script>
    <script type="text/javascript" id="thema-js-js-extra">
        /* <![CDATA[ */
        var scoutingnl_data = {"url":"https:\/\/voorbeeldsite-4-wp.scouting.nl\/wp-content\/themes\/scouting-2020","site_url":"https:\/\/voorbeeldsite-4-wp.scouting.nl","ajax_url":"https:\/\/voorbeeldsite-4-wp.scouting.nl\/wp-admin\/admin-ajax.php","media_lib":"https:\/\/voorbeeldsite-4-wp.scouting.nl\/wp-content\/uploads"};
        /* ]]> */
    </script>
    <script type="text/javascript" src="assets/themes/scouting-2020/assets/scripts/js/scoutingnl.js" id="thema-js-js"></script>
    <script type="text/javascript" src="assets/themes/scouting-2020/assets/scripts/js/kaart.js" id="kaart-js-js"></script>

</div>

