<div id="container-nav" class="navbar menu-top">
    <a id="mobile-menu" href="#"><i class="fa fa-bars"></i></a>
    <ul id="main-menu">

<!--        Extra notificatie in menu -->
<!--        <li class="nav-item notify">
            <a class="nav-link" href="wie-zijn-wij/index.html">
                <div class="menu-label" title=""><span>Extra tekst in menu</span><i class="fas fa-exclamation-triangle"></i></div>
            </a>
        </li>-->

        <li class="nav-item menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home">
            <a class="nav-link" href="index.html">
                <div class="menu-label">Home</div>
            </a>
        </li>
        <li class="nav-item  menu-item menu-item-type-custom menu-item-object-custom menu-item-1832 menu-item-has-children">
            <a class="nav-link" href="#">
                <div class="menu-label">Wie zijn wij?</div>
            </a>


            <div class="sub-menu">
                <ul>
                    <li class="  menu-item menu-item-type-post_type menu-item-object-page"><a
                            class="nav-link" title="Onze Scoutinggroep" href="wie-zijn-wij/index.html">Onze
                        Scoutinggroep</a></li>
                    <li class="  menu-item menu-item-type-post_type menu-item-object-page menu-item-180"><a
                            class="nav-link" title="Vrijwilligers" href="over-ons/index.html">Vrijwilligers</a></li>
                    <li class="  menu-item menu-item-type-post_type menu-item-object-page menu-item-1833"><a
                            class="nav-link" title="Sponsoracties"
                            href="page-image-alignment/index.html">Sponsoracties</a></li>
                </ul>
            </div>

        </li>
        <li class="nav-item  menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
            <a class="nav-link" href="#">
                <div class="menu-label">Speltakken</div>
            </a>


            <div class="sub-menu">
                <ul>
                    <li class="  menu-item menu-item-type-post_type menu-item-object-page"><a
                            class="nav-link" title="Welpen (7-11 jaar)" href="nog-een-pagina/index.html">Welpen (7-11
                        jaar)</a></li>
                    <li class="  menu-item menu-item-type-post_type menu-item-object-page menu-item-1834"><a
                            class="nav-link" title="Scouts (11-15 jaar)" href="page-markup-and-formatting/index.html">Scouts
                        (11-15 jaar)</a></li>
                </ul>
            </div>
        </li>
        <li data-id="2039"
            class="nav-item  menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
            <a class="nav-link" href="lid-worden/index.html">
                <div class="menu-label">Lid worden</div>
            </a>

            <div class="sub-menu">
                <ul>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                            class="nav-link" title="Contributie" href="contributie/index.html">Contributie</a></li>
                </ul>
            </div>

        </li>

        <li class="nav-item  menu-item menu-item-type-post_type menu-item-object-page">
            <a class="nav-link" href="verhuur/index.html">
                <div class="menu-label">Clubhuis</div>
            </a>
        </li>
        <li class="nav-item  menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children">
            <a class="nav-link" href="nieuws/index.html">
                <div class="menu-label">Nieuws</div>
            </a>


            <div class="sub-menu">
                <ul class="">
                    <li class="menu-item menu-item-type-post_type menu-item-object-post"><a
                            class="nav-link" title="Scoutinggroep start samenwerking met lokaal bedrijf"
                            href="nieuws/scouting-nederland-start-samenwerking-met-conscribo/index.html">Scoutinggroep
                        start samenwerking met lokaal bedrijf</a></li>
                    <li class="  menu-item menu-item-type-post_type menu-item-object-post menu-item-224"><a
                            class="nav-link" title="Jongste welpen lanceren nieuwe website op spectaculaire wijze"
                            href="nieuws/welpen-burgemeester-en-gedeputeerde-starten-bouw-avonturenhuis/index.html">Jongste
                        welpen lanceren nieuwe website op spectaculaire wijze</a></li>
                    <li class="  menu-item menu-item-type-post_type menu-item-object-post menu-item-225"><a
                            class="nav-link" title="Scouts fleuren ouderen op: tuin ondergaat metamorfose"
                            href="nieuws/scouting-nederland-ontvangt-cheques-voor-bouw-avonturenhuis/index.html">Scouts
                        fleuren ouderen op: tuin ondergaat metamorfose</a></li>
                </ul>
            </div>

        </li>

        <li class="nav-item  menu-item menu-item-type-post_type menu-item-object-page">
            <a class="nav-link" href="contact/index.html">
                <div class="menu-label">Contact</div>
            </a>
        </li>

        <!-- E-mail -->
        <li class="nav-item extra">
            <a class="nav-link" href="mailto:info@bosgeest.nl">
                <div class="menu-label" title="Stuur een e-mail"><i class="fas fa-envelope"></i><span class="extra">Stuur een e-mail</span>
                </div>
            </a>
        </li>
    </ul>
</div>

